body {
  font-family: 'Orbitron', sans-serif;
  color: white;
  background-color: steelblue;
}
a {
  color: white;
}
a:hover {
  color: red;
}
a:visited {
  color: white;
}
input {
  color: steelblue;
  margin-right: 0.5%;
  font-size: 1.4em;
  margin-bottom: 3%;
}
.btn {
  margin-bottom: 0.3%;
}
li {
  list-style: none;
  font-size: 1.3em;
  text-align: center;
}
.img {
  width: 80%;
  height: 80%;
  margin: 0 auto;
}
.chars {
  margin-bottom: 5%;
}
.comics {
  margin-bottom: 10%;
}
.main-title {
  font-weight: 900;
  margin: 3% 0 3% 0;
}
.title {
  font-size: 4em;
  margin-bottom: 2%;
}
.link1, .link2 {
  padding-right: 1%;
  margin-right: 1%;
  border-right: 3px solid white;
}
.link1, .link2, .link3 {
  font-size: 1.5em;
}
.footer {
  margin-top: 3%;
}
